<div class="container">
  <% if @errors %>
       <div class="alert alert-danger">
         <ul>
           <% @errors.each_value do | error | %>
             <li><%= error[0] %></li>
           <% end %>
         </ul>
       </div>
  <% end %>
  <div class="form-signin">
    <div class="topbit center-align">Log in</div>
    <%= form_tag '/login', method: "post" do %>

      <div class="row">
       <div class="input-field col s12">
         <i class="material-icons prefix">email</i>
         <input name="email" type="text" id="icon_prefix" class="validate" >
         <label for="icon_prefix">email</label>
       </div>
      </div>


      <div class="row">
       <div class="input-field col s12">
         <i class="material-icons prefix">lock</i>
         <input name="password" type="password" id="icon_prefix" class="validate" >
         <label for="icon_prefix">password</label>
       </div>
      </div>

      <div class="col s12 center-align">
        <button class="waves-effect waves-blue btn-flat">login <i class="material-icons right">done</i></button>
      </div>

    <% end %>
    <p class="center-align">Don't have an account? <span><a href="/signup">Sign Up</a></span></p>
    <div class="col s12 center-align">
      <button class="mainpage-btn" id="returnFromDashboard" ><i class="material-icons prefix">home</i></button>
    </div>
  </div>

</div>
