<section class="home" >

    <h1>BAR FIGHT</h1>

    <div class="homepage-buttons">

        <a class="homepage-btn" href="/login">login</a>
        <a class="homepage-btn" href="/signup">signup</a>

    </div>



</section>
