<section class="home" >

    <h1><img src="http://i.imgur.com/1p6cx0N.gif" width="70%"></h1>

    <div class="homepage-buttons">

        <a class="homepage-btn" href="/login">login</a>
        <a class="homepage-btn" href="/signup">signup</a>

    </div>



</section>
