<h1>Main</h1>

<div class="container">
 <!-- menu -->
   <h1>My Collection</h1>
   <h1>New Game</h1>
   <h1>Exit Game</h1>

</div>

<div class="container">

  <h1>My Collection</h1>

  <!-- display cards -->
  <% @user_cards.each do |card| %>

    <div class="card-container" da>

    </div>
  <!-- see my wins and losses
  and card count
   -->
</div>

<div class="container">
  <h1>New Game</h1>

  
  <!-- display opponents -->
  <!-- select opponent
  button to challenge opponent -->

</div>


<div class="container">
  <h1>Exit Game</h1>

</div>
