
.form-signin {
  max-width: 400px;
  margin: 0 auto;
}

.form-signup {
  max-width: 400px;
  margin: 0 auto;
}
.topbit {
  font-size: 2em;
  font-family: 'Press Start 2P', cursive;
}

.wins {
  font-size: 1.5em;
}

.ui-card {
  margin: 1%;
  width: 25%;
  display: inline-block;
  border: 1px solid white;
  padding: 20px;
  background: white;
  color: black;
  border-radius: 20px;
}

.ui-card img {
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.quality {
  width: 100%;
}

.ui-card h2 {
  font-size: 2em;
  margin: 0;
}

.ui-card h3 {
  font-size: 1.2em;
}

.ui-card h4 {
  font-size: 1.2em;
  display: inline-block;
  margin: 0;
}

.my-cards .power {
  overflow: hidden;
  border: 3px white solid;
  cursor: pointer;
  padding: 5px;
}

.power .right {
  vertical-align: middle;
}

.my-cards .power:hover {
  border: 3px gold solid;
}

.battle-screen {
  background: url(battle-ring.jpg);
  background-size: cover;
}

.battle-image img {
  width: 50%;
}

.battle-image {
  text-align: center;
}

.opponent-card {
  text-align: right;
  box-sizing: border-box;
}

.your-card {
  box-sizing: border-box;
}

.battle-screen h2 {
  font-size: 2em;
  padding: 0 20px 0 20px;;
}

.battle-screen > h2 {
  text-align: center;
}

.battle-screen h3 {
  font-size: 1.8em;
  padding: 0 20px 0 20px;;
}

.battle-screen .power-name {
  display: inline-block;
}

.battle-screen h4 {
  font-size: 1.5em;
  display: inline-block;
  padding: 0 20px 0 20px;;
}

.winner-screen {
  text-align: center;
}
