
.form-signin {
  max-width: 400px;
  margin: 0 auto;
}

.form-signup {
  max-width: 400px;
  margin: 0 auto;
}
.topbit {
  font-size: 2em;
  font-family: 'Press Start 2P', cursive;
}

.wins {
  font-size: 1.5em;
}

.ui-card {
  margin: 1%;
  width: 25%;
  display: inline-block;
  border: 1px solid white;
  padding: 20px;
  background: white;
  color: black;
  border-radius: 20px;
}

.ui-card img {
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.quality {
  width: 100%;
}

.ui-card h2 {
  font-size: 2em;
  margin: 0;
}

.ui-card h3 {
  font-size: 1.2em;
}

.ui-card h4 {
  font-size: 1.2em;
  display: inline-block;
  margin: 0;
}

.my-cards .power,
.my-battle-cards .power {
  overflow: hidden;
  border: 3px white solid;
  cursor: pointer;
  padding: 5px;
}

.power .right {
  vertical-align: middle;
}

.my-battle-cards .power:hover {
  border: 3px red solid;
}

.battle-screen {
  background: url(battle-ring.jpg);
  background-size: cover;
}

.battle-image img {
  width: 50%;
}

.opponent-card .battle-image img {
  position: relative;
  left: -50%;
  z-index: 200;
}

.your-card .battle-image img {
  position: relative;
  left: 100%;
  z-index: 9999;
}

.opponent-card {
  text-align: right;
  box-sizing: border-box;
}

.your-card {
  box-sizing: border-box;
}

.battle-screen h2 {
  font-size: 2em;
  padding: 0 20px 0 20px;;
}

.battle-screen > h2 {
  text-align: center;
}

.battle-screen h3 {
  font-size: 1.8em;
  padding: 0 20px 0 20px;;
}

.battle-screen .power-name {
  display: inline-block;
}

.battle-screen h4 {
  font-size: 1.5em;
  display: inline-block;
  padding: 0 20px 0 20px;
}

.opponent-card {
  display: inline-block;
  padding: 0 20px 0 20px;;
}

.winner-screen {
  text-align: center;
}
button {
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-family: arial !important;
  text-transform: lowercase !important;
  font-size: 1.5em !important;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: white !important;
  display: flex;
  align-items: center;
}
button:hover {
  color: red !important;
}
a {
  color: red;
}
i {
  padding-right: 1em;
}
.home {
  height:100vh;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
body {
  background-image: url(boxing-ring.jpg);
  background-size: cover;
  color: white;
  background-attachment: fixed;
}
.form-signin {
  font-size: 1.5em;
}
.form-signup {
  font-size: 1.5em;
}

.homepage-buttons {
  display: flex;
  justify-content: center;
}
.homepage-btn {
  color: white;
  font-size: 2em;
  padding: 2em;
}
.homepage-btn:hover {
  color: red;
}
.homepage-btn:active {
  color: blue;
}
.mainpage-btn {
  color: white;
  font-size: 2em;
  padding: 2em;
}
.mainpage-btn:hover {
  color: red;
}
#returnFromGame {
  position: absolute;
  bottom: 0%;
}
#returnFromDashboard {
  position: absolute;
  bottom: 0%;
}
.dashboard {
  display: none;
}
.newgame {
  display: none;
  text-align: center;
  position: relative;
  height: 100vh;
  padding-top: 3em;
}
.preloader-wrapper {
position: relative;
top: 50%;
}

.play-card-screen {
  display: none;
}
.battle-screen {
  display: none;
}
.winner-screen {
  display: none
}

h1 {
  padding: 2em;
  color: white;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
}
/* label color */
.input-field label {
  color: white;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: white;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: red;
}
/* label underline focus color */
.input-field input[type=password]:focus {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}
/* valid color */
.input-field input[type=password].valid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}
/* invalid color */
.input-field input[type=password].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* label focus color */
.input-field input[type=password]:focus + label {
  color: white;
}

.no-cards {
  display: none;
}

.september, .boos, .cheers, .buzz {
  display: none;
}



/*
==============================================
slideRight
==============================================
*/


.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(-2%);
	}
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-150%);
	}
	50%{
		-webkit-transform: translateX(8%);
	}
	65%{
		-webkit-transform: translateX(-4%);
	}
	80%{
		-webkit-transform: translateX(4%);
	}
	95%{
		-webkit-transform: translateX(-2%);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}
