
.form-signin {
  max-width: 400px;
  margin: 0 auto;
}

.form-signup {
  max-width: 400px;
  margin: 0 auto;
}

.ui-card {
  /*margin: 1%;*/
  /*width: 25%;*/
  /*display: inline-block;*/
  /*border: 1px solid black;*/
}

.ui-card img {
  width: 100%;
}
.quality {
  width: 100%;
}

button {
  padding-left: 0;
  padding-right: 0;
  font-family: arial;
  text-transform: lowercase;
}
